scripts/*_end.*
results/*_end
results/*_end.*
plots/*_end.*
data/santander_summaries*
data/data_processing_2020.py
data/training
data/validation
data/test
data/santander_distances.npy
data/santander_t*.csv
data/santander_validation.csv
*/.DS_Store
.DS_Store
lib/gb_mep/__pycache__
lib/gb_mep/__pycache__/*
results/res_qq_start/*
results/old_results/*
scripts/old_scripts/*
