data/santander_summaries*
data/data_processing_2020.py
data/training
data/test
data/santander_t*.csv
data/santander_d*
*/.DS_Store
.DS_Store
lib/gb_mep/__pycache__
lib/gb_mep/__pycache__/*
results/res_qq_start/*
results/old_results/*
scripts/old_scripts/*
